---
import type { GetStaticPathsOptions } from "astro";
import MailingList from "../../components/MailingList.astro";
import Page from "../../layouts/Page.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  return paginate(
    (await Astro.glob("../blog/post/*.mdx"))
      .filter((post) => !post.frontmatter.draft)
      .sort(
        (a, b) =>
          // @ts-ignore
          new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate)
      ),
    { pageSize: 10 }
  );
}

const { page } = Astro.props;
---

<Page title="Blog" description="Francis Kafieh's blog">
  <div class="flex flex-col">
    {
      page.data.map((post: { url: string; frontmatter: any }) => (
        <a
          class="bg-secondary rounded-lg p-4 mb-4 drop-shadow-xl overflow-hidden no-underline text-primary reset no-prefetch"
          href={post.url}
        >
          <p class="text-accent font-bold inline-block">
            {post.frontmatter.title}
          </p>
          <p class="text-accent inline-block">| {post.frontmatter.readTime}</p>
          <p>{post.frontmatter.strippedContent}</p>
        </a>
      ))
    }
  </div>
  <div class="mx-auto m-10 mr-5 text-lg">
    {page.url.prev ? <a href={page.url.prev}>&#60; Prev</a> : null}
    {page.url.next ? <a href={page.url.next}>Next &#62;</a> : null}
  </div>
  <MailingList />
</Page>
