---
import Sidebar from "../components/Sidebar.astro";
import Page from "./Page.astro";
import "../lib/prism-material-palenight.css";

export interface Props {
  readTime: string;
  title: string;
  description: string;
  tags: string[];
  pubDate: string;
}

const { readTime, title, description, tags, pubDate, updatedDate } =
  Astro.props.frontmatter;

const { headings } = Astro.props;

const dateOptions: any = {
  month: "short",
  day: "numeric",
  year: "numeric",
};
---

<Page title={title} description={description}>
  <article class="prose w-full lg:w-8/12 max-w-none">
    <div class="text-center">
      <h1 class="text-3xl font-black text-accent">{title}</h1>
      <p>
        {readTime}{tags ? " | " + tags.join(", ") : ""} | {
          new Date(pubDate).toLocaleDateString("en-US", dateOptions)
        }
        {
          updatedDate
            ? "(Last Updated " +
              new Date(updatedDate).toLocaleDateString("en-US", dateOptions) +
              ")"
            : ""
        }
      </p>
    </div>
    <slot />
  </article>
  <Sidebar headings={headings} />
  <script
    src="https://giscus.app/client.js"
    data-repo="franciskafieh/franciskafieh.com"
    data-repo-id="R_kgDOHz-asA"
    data-category="comments"
    data-category-id="DIC_kwDOHz-asM4CRR_S"
    data-mapping="pathname"
    data-strict="1"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="transparent_dark"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async
  ></script>
</Page>

<!-- overview script in main layout so that it works with swup -->
